/* Ocultar el div molesto de 000webhost */
body a[title] {
    display: none;
}

body {
    transition: background ease .3s;
}

.text-kulturizate {
    color: #4285F4;
}

.container  {
    display: flex;
    align-items: center;
    justify-content: center;
     
    
}

.form 
#bienvenido {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}